@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --font-family: "Archivo", sans-serif;

  --brand-color-light: #60a5fa;
  --brand-color-dark: #1d4ed8;

  --bg-color: #0f172a;
  --stroke-color: #1e293b;

  --text-color-primary: #F1F5F;
  --text-color-secondary: #cbd5e1;

  --h1: 800 24px/135% var(--font-family);
  --h2: 800 16px/140% var(--font-family);
  --h3: 800 14px/140% var(--font-family);
  --text-span: 600 14px/145% var(--font-family);
  --text: 400 16px/150% var(--font-family);
  --text-sm: 400 14px/160% var(--font-family);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: var(--text);
  color: var(--text-color-primary);
  background-color: var(--bg-color);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--brand-color-light);
}

h1,
h2,
h3 {
  font: inherit;
}
